.search-field {
	border: solid 2px #000;
	color: #000;
	margin: 0;
	padding-left: 25px;
	height: 22px;
	width: 300px;
	background-image: url('https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png');
	background-size: contain;
	background-repeat: no-repeat;
}