html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

input {
	border: solid 2px #000;
	color: #000;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 22px;
	background-color: light-gray;
}
